svg{
	border: solid 1px #EDEAED;
}

.container{
	width: 80%;
}

.form-group{
	float: right;
	display: inline-block;
        overflow: hidden;
	width: 20%;
}

.svg-container{
	float: left;
	display: inline-block;
	width: 80%
}
